:root {
  --gray: #322d34;
  --white:  #efeeed;
  --header-text: #d0e5ef;
  --black: #050505;
  font-family: 'Bad Script', cursive;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Macondo', cursive;
  font-family: 'Philosopher', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--white);
    color: var(--gray);
    font-family: 'Philosopher', sans-serif;
    
  }



header {
  background-color: var(--gray);
  opacity: 80%;
  position: fixed;
  width: 100%;
  
}
header a {
  color: var(--white);
  text-decoration: none;
}

.logo {
  max-height: 2rem;
  

}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;

  
}


.fooldal-szoveg {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--gray);
  
}


h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  text-decoration: underline 1px;
  font-size: 2rem;
}

.h2-fooldal {
  padding: 10px;
  
}

.foglalas-span {
  padding: 7px;
  background-color: #ffffff;
  border-radius: 5px;
  color: var(--black);
  text-shadow: 1px 1px 6px #615b5b;
  font-size: 30px;
  text-decoration: none;
  align-items: center;
}

.mantra {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-left: 18%;
  margin-right: 18%;
  text-shadow: 0.5px 0.5px 7px rgb(124, 121, 121);
  border: solid rgb(214, 209, 209) 0.05px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  
  
}
.fooldal-kep {
  width: 100%;
  margin-top: 20px;
}

.main {
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: center;
}

p {
  text-align: justify;
}
.udv {
  text-align: center;
  padding-top:10px;
  font-size: 1.2rem;
}

.rolam-h2 {
  padding: 20px;
  text-align: left;
  font-style: normal;
}

.h2span {
  font-style: italic;
  font-size: 18px;
  text-decoration: underline solid 1px;
}

.rolam-h3{
  padding: 20px;
  text-align: left;
}

.mit-tanitok {
  padding: 20px;
  text-align: left;
}
.h2-szolgaltatasok {
  padding-bottom: 20px;
}

.p-szolgaltatasok {
  font-weight: bold;
  text-decoration: underline 1px;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.szolgaltatasok {
  padding: 20px;
  text-align: left;
}

.alkalom-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alkalom {
  padding: 20px;
}

.alkalom-foglalas {
  padding: 7px;
  margin-left: 3rem;
  background-color: #dbd7dd;
  border-radius: 10px;
  color: var(--black);
  text-shadow: 1px 1px 6px #615b5b;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
  
}


.honap-f-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.honap-f {
  padding: 20px;
}

.honap-f-foglalas {
  padding: 7px;
  margin-left: 3rem;
  background-color: #dbd7dd;
  border-radius: 10px;
  color: var(--black);
  text-shadow: 1px 1px 6px #615b5b;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
  
}
.honap-sz-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.honap-sz-foglalas {
  padding: 7px;
  margin-left: 3rem;
  background-color: #dbd7dd;
  border-radius: 10px;
  color: var(--black);
  text-shadow: 1px 1px 6px #615b5b;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;

}

.honap-sz {
  padding: 20px;
}

.harom-honap-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.harom-honap-foglalas {
  padding: 7px;
  margin-left: 3rem;
  background-color: #dbd7dd;
  border-radius: 10px;
  color: var(--black);
  text-shadow: 1px 1px 6px #615b5b;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
}

.harom-honap {
  padding: 20px;
}

.filozofia-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filozofia-foglalas {
  padding: 7px;
  margin-left: 3rem;
  background-color: #dbd7dd;
  border-radius: 10px;
  color: var(--black);
  text-shadow: 1px 1px 6px #615b5b;
  font-size: 1rem;
  text-decoration: none;
  align-items: center;
}

.filozofia {
  padding: 20px;
}

.bejelentkezes {
  padding: 20px;
}

.idopontfoglalas {
  text-align: center;
}

.kapcsolat-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.span2 {
  background-color: var(--gray);
  color: var(--white);
  padding: 7px;
  border-radius: 10px;
  /* margin-right: 50px; */
}


.kuld {
  background-color: var(--gray);
  color: var(--white);
  padding: 7px;
  border-radius: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
  

}


footer i {
  color: var(--gray);
  padding-bottom: 20px;
  font-size: 2rem;
}
footer div {
display: flex;
flex-direction: column;
justify-content: right;
}



